@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/sb-admin.css")
</head>
<body class="bg-dark">
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
